@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adicione no arquivo c:\Users\weber\vitrine-vinhos\src\style.css */
.marquee {
  overflow: hidden;
  white-space: nowrap;
}
.marquee-content {
  display: inline-block;
  animation: marquee 10s linear infinite;
}
@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}