@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adicione no arquivo c:\Users\weber\vitrine-vinhos\src\style.css */
.marquee {
  overflow: hidden;
  white-space: nowrap;
}
.marquee-content {
  display: inline-block;
  animation: marquee 10s linear infinite;
}
@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Estilos globais para o tema */
body {
  background-color: theme('colors.background'); /* Branco gelo */
  color: theme('colors.primary'); /* Vinho profundo */
}

a {
  color: theme('colors.accent'); /* Dourado discreto */
}

button {
  background-color: theme('colors.secondary'); /* Cinza escuro ou preto */
  color: theme('colors.background'); /* Branco gelo */
}

button:hover {
  background-color: theme('colors.accent'); /* Dourado discreto */
}