@tailwind base;
@tailwind components;
@tailwind utilities;

.marquee {
  overflow: hidden;
  white-space: nowrap;
}
.marquee-content {
  display: inline-block;
  animation: marquee 10s linear infinite;
}
@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

body {
  background-color: theme('colors.background');
  color: theme('colors.primary');
}

a {
  color: theme('colors.accent');
}

button {
  background-color: theme('colors.secondary');
  color: theme('colors.background');
}

button:hover {
  background-color: theme('colors.accent');
}